<h2><%= current_user.first_name %>'s movements</h2>
<p>Yo compré</p>

<% current_user.movements.each do |compra| %>
<%= compra.item_id%>
<%= compra.item.name%>

<p>En esta fecha:<%= compra.purchase_date%></p>
<% end %>

<p>Yo vendí</p>

<!-- <% @movements.each do |venta| %>
<p><%= venta.item.user.first_name %></p>
<p><%= venta.purchase_date %></p>
<% end %> -->

<% @movements.each do |movimiento|%>
<% item = movimiento.item %>
<% if item.user_id == current_user.id %>
<p><%= item.name %></p>
<% end %>
<% end %>
