<div class="index-header" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://t3.ftcdn.net/jpg/01/38/94/62/360_F_138946263_EtW7xPuHRJSfyl4rU2WeWmApJFYM0B84.jpg);">
  <div class="header">
    <h1>Profile</h1>
  </div>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to "Home", root_path, class: "btn btn-ghost" %>
    </div>
</div>




<div class="profile-info">
  <div class="d-flex justify-content-center align-items-center p-5">
  <div class="card mt-4" style="width: 18rem;">
    <div class="card-header">
      <h2 class="text-center"><%= current_user.first_name %>'s profile</h2>
    </div>
    <div class="mt-2 ps-3">
      <ul class="list-unstyled">
        <li><%= current_user.email %></li>
        <li><%= current_user.first_name %> <%= current_user.last_name %></li>
        <li><%= current_user.phone_number %></li>
        <li><%= current_user.address %></li>
      </ul>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
    <ul class="list-group list-group-flush text-decoration-none text-center list-unstyled">
      <li class="p-2"><%= link_to "Sell clothes", new_item_path, class: "btn btn-primary mt-20px" %></li>
      <li class="p-2" ><%= link_to "My movements", movements_path, class: "btn btn-primary mt-20px" %></li>
      <li class="p-2" ><%= link_to "My items", user_items_path,class: "btn btn-primary mt-20px" %></li>
    </ul>
</div>
</div>
