<div class="index-header" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://t3.ftcdn.net/jpg/01/38/94/62/360_F_138946263_EtW7xPuHRJSfyl4rU2WeWmApJFYM0B84.jpg);">
  <div class="header">
    <h1>User Items</h1>
  </div>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to "Home", root_path, class: "btn btn-ghost" %>
    </div>
</div>



<h2><%= current_user.first_name %>'s items</h2>
<p><%= link_to "Back to profile", profile_path, class: "btn btn-primary" %></p>
<% @items.each do |item| %>
  <div class="card-product">
  <div class="img"><%= cl_image_tag item.photo.key, crop: :fill %></div>
  <div class="card-product-infos">
    <h2><%=item.name%> <br><strong>$<%=item.price.floor(2)%> USD</strong></h2>
    <p><%=item.kind.capitalize%></p>
    <p>Size: <%=(item.size).upcase%></p>
    <p>For <%=(item.genre).capitalize%></p>
    <p>Seller: <%=item.user.first_name%> <%=item.user.last_name%></p>
    <p>Phone number: <%=item.user.phone_number%></p>

        <div style="margin-top: 10px;">
          <%= link_to "Edit", edit_item_path(item.id), class: "btn btn-primary "  %>
        </div>
        <div style="margin-top: 10px;">
          <%= link_to "Delete", item_path(item.id), class: "btn btn-danger text-light",
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
  </div>
</div>
<% end %>
