<div class="index-header" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://t3.ftcdn.net/jpg/01/38/94/62/360_F_138946263_EtW7xPuHRJSfyl4rU2WeWmApJFYM0B84.jpg);">
  <div class="header">
    <h1>Clothes</h1>
  </div>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to "Go back", root_path, class: "btn btn-ghost" %>
    </div>
</div>


<div class="container" style="display: flex;">

  <div class="sidenav" >
    <%= link_to "Tops", items_path(query: "top") %>
    <%= link_to "Bottoms", items_path(query: "bottom") %>
    <%= link_to "Shoes", items_path(query: "shoes") %>
  </div>

  <div class="main-containter" >
    <div class="index-flexbox">
      <% @items.each do |item| %>
          <div class="card" style="width: 15rem;">
            <%= cl_image_tag item.photo.key, class:"card-img-top card-product-img"%>
            <div class="card-body">
              <h4><%= item.name %></h4>
              <p>$<%= item.price.floor(2) %></p>
              <p><%= item.kind %></p>
              <p class="btn btn-primary"><%= link_to "See details", item_path(item.id), class:"link-light"%></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
