<div class="index-header" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://t3.ftcdn.net/jpg/01/38/94/62/360_F_138946263_EtW7xPuHRJSfyl4rU2WeWmApJFYM0B84.jpg);">
  <div class="header">
    <h1>Clothes</h1>
  </div>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to "Go back", root_path, class: "btn btn-ghost" %>
    </div>
</div>


<div class="container" style="display: flex; ">



  <div class="sidenav" style=" font-size: 20px;" >
    <%= link_to "Tops", items_path(query: "top") %>
    <%= link_to "Bottoms", items_path(query: "bottom") %>
    <%= link_to "Shoes", items_path(query: "shoes") %>
  </div>

  <div class="main-containter" style="margin-left: 100px;" >
    <div class="index-flexbox">
      <% @items.each do |item| %>
          <div class="card" style="width: 15rem; border-radius: 10px;   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
            <%= cl_image_tag item.photo.key, class:"card-img-top card-product-img br-10px" %>
            <div class="card-body">
              <h4 style="font-weight: bolder;"><%= item.name %></h4>
              <strong><p>Price: $<%= item.price.floor(2) %></p></strong>
              <p>Kind of item: <%= item.kind %></p>
              <p class="btn btn-primary" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" ><%= link_to "See details", item_path(item.id), class:"link-light br-1px text-decoration-none"%></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
