<h2>Sell your item</h2>
<div class="container">
  <p class= "text-danger">* required field</p>
  <hr>
  <%= simple_form_for(@item) do |f| %>
    <%= f.input :name, placeholder: "Referencia de la prenda" %>
    <%= f.input :price, placeholder: "$" %>
    <%= f.input :genre, placeholder: "men or women" %>
    <%= f.input :size, placeholder: "s, m, l, xl" %>
    <%= f.input :color, placeholder: "red, yellow, white." %>
    <%= f.input :kind, placeholder: "top bottom shoes" %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
