<div class="card-product">
  <div class="img"><%= cl_image_tag @item.photo.key, crop: :fill %></div>
  <div class="card-product-infos">
    <h2><%=@item.name%> <br><strong>$<%=@item.price.floor(2)%> USD</strong></h2>
    <p><%=@item.kind.capitalize%></p>
    <p>Size: <%=(@item.size).upcase%></p>
    <p>For <%=(@item.genre).capitalize%></p>
    <p>Status: <%=@item.status%></p>
    <p>Seller: <%=@item.user.first_name%> <%=@item.user.last_name%></p>
    <p>Phone number: <%=@item.user.phone_number%></p>

        <div style="margin-top: 10px;">
          <%= button_to "Buy this item", buy_path(item_id: @item.id), class: "btn btn-primary "  %>
        </div>
        <div style="margin-top: 10px;">
          <%= link_to "Back to all items", items_path, class: "btn btn-primary" %>
        </div>
  </div>
</div>
